/* ================= GLOBAL ================= */
body {
    font-family: 'Poppins', sans-serif;
    color: #333;
    line-height: 1.6;
   
    padding-top: 70px;

}

.section-title {
    font-weight: 700;
    color: #0d6efd;
}

.section-subtitle {
    font-size: 1.1rem;
    color: #555;
}

/* ================= HERO ================= */
.hero-section {
    min-height: 100vh;
    background: linear-gradient(
        rgba(13, 110, 253, 0.75),
        rgba(13, 110, 253, 0.75)
    ),
    url("https://images.unsplash.com/photo-1522202176988-66273c2fd55f") center/cover no-repeat;
}

/* ================= MISSION ================= */
.mission-box {
    padding: 30px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    transition: transform 0.3s ease;
}

.mission-box:hover {
    transform: translateY(-8px);
}

/* ================= SERVICES ================= */
.service-card {
    border: none;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.12);
}

/* ================= FOOTER ================= */
.footer {
    background-color: #0d6efd;
}
/* HERO CONTACT */
.contact-hero {
    min-height: 50vh;
    background: linear-gradient(
        rgba(13,110,253,0.8),
        rgba(13,110,253,0.8)
    ),
    url("https://images.unsplash.com/photo-1521737604893-d14cc237f11d")
    center/cover no-repeat;
}

/* INFOS CONTACT */
.contact-info p {
    font-size: 1.05rem;
    margin-bottom: 10px;
}

/* HERO A PROPOS */
.about-hero {
    min-height: 55vh;
    background: linear-gradient(
        rgba(13,110,253,0.85),
        rgba(13,110,253,0.85)
    ),
    url("https://images.unsplash.com/photo-1509062522246-3755977927d7")
    center/cover no-repeat;
}
/* NAVBAR */
.navbar {
    transition: background-color 0.3s ease;
}

.nav-link {
    font-weight: 500;
    margin-left: 15px;
}

.nav-link:hover {
    color: #0d6efd;
}